.formlogin1 {
  width: 492.19px;
  height: 50.12px;

  background: #ffffff;
  border: 1.00243px solid #000000;
  box-sizing: border-box;
  border-radius: 8.01943px;

  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20.0486px;
  line-height: 20px;

  display: flex;
  align-items: center;

  /* Descript */

  color: #1b2447;
  padding: 10px;
}

.formlogin {
  width: 100%;
  height: 50.12px;

  background: #ffffff;
  border: 1.00243px solid #000000;
  box-sizing: border-box;
  border-radius: 8.01943px;

  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20.0486px;
  line-height: 20px;

  display: flex;
  align-items: center;

  /* Descript */

  color: #686a71;
}
